@import "tailwindcss";

body {
  font-family: system-ui, sans-serif;
  margin: 0;
  background-image: url(./../public/winter.gif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

button {
  padding: 6px 12px;
  cursor: pointer;
  /* border: 2px solid white; */
  margin: auto 5px;
  border-radius: 10px;
  font-weight: 500;
}

input {
  padding: 2px;
  /* border:2px solid red; */
  border-radius: 10px;
  text-align: center;
  /* color:black(161, 157, 157, 0.352); */
  /* background: rgba(255, 255, 255, 0.804); */
}
h1 {
  font-size: 32px;
  font-weight: 500;
}
h2 {
  font-size:20px;
  font-weight: 500;
}